/* 전체 박스 */
.webTrm {
    box-sizing: border-box;
    width: 250px;
    height: 259px;
    padding: 16px 16px;
    background:linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%); 
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    margin: 20px;
}

.heading{
    margin: 0;
}

.lswebStndr img {
    width: 60px;
    height: 68px;
}