/* 리스트 불릿 제거 */
.hyperLink {
    list-style: none;
}

/* 리스트 스타일 요소 */
.hyperLink li {
    width: 230px;
    height: 22px;
    background: url(./images/validation_icon.png) no-repeat #cccccc 7% 45% /16px 17px;
    padding: 10px 0 10px 40px;
    display: block;
    margin-bottom: 15px;
    line-height: 23px;
    border-radius: 34px;
}

/* 텍스트 스타일 제거 */
.hyperLink a {
    color: #000000;
    text-decoration-line: none;
}