@import url(./../base-css/a11y.css);
@import url(./../base-css/base.css);

/* 전체 박스 */
.header {
  width: 244px;
  height: 161px;
  padding: 12px;
  background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
  box-shadow: 5px 5px 0px #AAAAAA;
  border-radius: 5px;
  margin: 16px; /* 잘 보기 위해 설정한 마진 */
}

/* 타이틀 로그인 폰트 */
.loginTitle {
  width: 39px;
  height: 23px;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  color: #FFFF00;
}

/* 로그인 폼 배경 및 크기 */
.loginArea {
  width: 220px;
  height: 106px;
  background: #FFFFFF;
  border-radius: 5px;
  position: relative;
}

.loginForm {
  width: 220px;
  height: 69px;
  padding: 8px;
}

/* 아이디 비밀번호 입력창 */
.idInput__label,
.passInput__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  display: inline-block;
  width: 50px;
}

.idInput__input,
.passInput__input {
  width: 90px;
  height: 24px;
  margin-bottom: 4px;
}

/* 로그인 버튼 */
.button {
  /* 버튼 내 텍스트 지정 */
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;

  /* 버튼 색상 및 크기 지정 */
  background: #ED552F;
  border-radius: 5px;
  width: 50px;
  height: 53px;
  border: 0;

  /* 버튼 포지션 지정 */
  position: absolute;
  top: 7px;
  right: 7px;
}

/* 회원가입/아이디 비밀번호 찾기 */
.signFindYourPassword {
  border-top: 1px solid gray;
  margin: 0 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}

.signFindYourPassword li:first-child {
  float: left;
  margin-top: 8px;
  margin-left: 17px;
}

.signFindYourPassword li:last-child {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}