@import url(./css-reset.css);

/* 전체 상자 */
.dropDown {
  padding: 12px;
  margin: 20px;
  width: 166px;
  height: 63px;
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border-radius: 5px;
  border: 1px solid #A3A3A3;
}

.dropDown--title {
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  width: 69px;
  height: 23px;
}

.dropDown--title span {
  color: #ED552F;
}

.dropDown--menu {
  margin-top: 8px;
  background-color: #FFF;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  height: 25px;
  width: 165px;
  overflow: hidden;
}

.dropDown--menu li {
  margin-left: 24px;
  padding: 3px 3px 0;
  font-size: 400;
  font-size: 14px;
  line-height: 150%;
}

/* 드롭 다운 메뉴 */
.dropDown .is--active:hover {
  width: 166px;
  height: 150px;
  line-height: 150%;
}

.dropDown .is--active:hover li {
  margin-top: 5px; 
  transition-property: margin-top;
  transition-duration: 0.45s;
  transition-delay: 0.2s;
}